@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Screamin Sportscasters</h1>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Training</h2>
        <p>
            Want to learn how to broadcast sports? Schedule an appointment today! Here at Screamin Sportscasters our hall of fame staff pride themselves on giving back to the community, and helping the sportscasters of tomorrow!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Schedule</h2>
        <p>Take a look at where we will be next! Or, if you can't make an event, then try and catch us on the radio or web!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Us?</h2>
        <p>At Screamin Sportscasters we pride ourselves on a variety of services that we offer. By offering both the equipment to start a career, as well as the teachings to launch it, we are confident that we are the best in the business! Plus having a Hall of Fame staff can't hurt!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>